
:root {
  --dark-shade0: #1f132a;

  --dark-shade1: #3a3044;

  --dark-shade2: #564d5d;

  --dark-shade3: #716a77;

  --dark-shade4: #8c8791;

  --dark-shade5: #a7a4ab;

  --dark-shade6: #c3c1c4;

  --dark-shade7: #dedede;

  --dark-accent0: #f53054;

  --dark-accent1: #eca1b4;

  --dark-accent2: #b58ddb;

  --dark-accent3: #b03454;

  --dark-accent4: #312684;

  --dark-accent5: #3f37b3;

  --dark-accent6: #4c2ca4;

  --dark-accent7: #9c7ade;
}